.navbar-inverse{
    background-color: #5e7eb6;
    border-color: #5e7eb6;
}

.header a {
    color: white;
}
.footer a {
    color: white;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.content{
    height: 200px;
}
.footer{
    background-color: rgb(29,91,140);
}
/*
.header-right {
    position: absolute;
    top: 0px;
    right: 0px;
}
.navbar-toggle {
    margin-top: 50px;
}
*/