body {
    font-family: 'Open Sans', sans-serif;
    min-width: 425px;
}
.navbar-inverse {
    background-color: #5e7eb6;
    border-color: #5e7eb6;
}
.header-right ul {
    list-style-type: none;
}
.navbar-brand {
    height: 50px;
    width: 165px;
    background-image: url(http://langoino.com/cms_module/germanquiz/css/img/logo.svg);
    background-repeat: no-repeat;
    background-size: 210px 68px;
    background-position: -45px -10px;
}
.header a {
    color: #fff;
}
.footer a {
    color: #aebedb;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.footer {
    background-color: #385a8b;
    padding: 30px 0px;
}
.footer h4 {
    color:#fff;
    font-size: 12px;
}
.footer ul {
    list-style-type: none;
    padding-left: 0px;
}
.registration {
    float: right;
    padding-left: 0;
    margin-bottom: 0;
}
.registration>ul>li a {
    margin: 0px 10px 0px 10px;
    color: #fff;
}
.registration>ul>li:first-child:after {
    content: '|';
    color: white;
    font-size: 26px;
    line-height: 40px;
}
.registration>ul>li:first-child a {
    float: left;
}
.registration>ul>li>a {
    padding: 5px 15px;
    border: 2px solid #aebedb;
    border-radius: 30px;
    font-size: 12px;
    margin-top: 6px;
}
.footer-logo {
    width: 60%;
}
.footer i {
    color: #aebedb;
    display: inline-block;
    margin-top: 30px;
}
.content {
    text-align: center;
}
.content img {
    width: 97%;
    border-radius: 25px;
    border: 2px solid #999999;
    font-size: 12px;
}
.bold {
    font-weight: 700;
}
.question {
    font-size: 16px;
    margin-top: 30px;    
    margin-bottom: 30px;
    color: #4E4E55;
}
.question:after {
    content: "_____";
    display: block;
    margin-top: 10px;
    color: #B8B8BE;
}
.question-description {
    font-size: 12px;
    color: #B8B8BE;
    margin-bottom: 50px;
}
.question-description p {
    display: inline;
}
.question-description p:first-child:after {
    content: '|';
}
.question-description span {
    font-weight: bold;
    color:#527FB8;
}
.registration-links {
    float: right;
}
.question-options button {
    color: white;
    width: 40%;
    border-radius: 32px;
    padding: 15px 0px;
    margin: 10px;
}
.green-button {
    background-color: #008C41;
    border: solid 2px #60BE3C;
}
.red-button {
    background-color: #8B2B3D;
    border: solid 2px #CA69A1;
}
.blue-button {
    background-color: #4274B1;
    border: solid 2px #85A0CF;
}
.green-button:hover {
    background-color: #60BE3C;
    border: solid 2px #008C41;
}
.red-button:hover {
    background-color: #CA69A1;
    border: solid 2px #8B2B3D;
}
.blue-button:hover {
    background-color: #85A0CF;
    border: solid 2px #4274B1;
}
.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #99aad3;
}
@media (max-width: 767px){
    .registration {
        float: left;
    }
    .registration>ul>li:first-child:after {
        display: none;
    }
    .registration>ul>li:first-child a {
        float: none;
    }
}
@media (max-width: 992px) and (min-width: 768px) {
    .registration {
        float: left;
        margin-left: -25px;
    }
}
@media (min-width: 768px){
    .registration>ul>li a {
        line-height: 20px;
        position: relative;
        display: block;
    }
    .registration li {
        float: left;
    }
}